# QUESTION NO.1:

In [22]:
Raima =[100,-23,33,25,150,90,-71,33,45,33,54,63,69,74,78]  
Raima.append(7164)     # add 7164 at end by usnig append method
print(Raima)

[100, -23, 33, 25, 150, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7164]

## ADD -4500 AT INDEX 5

In [23]:
Raima.insert(5,-4500)      # insert -4500 at index 5
print(Raima)

[100, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7164]

## ADD 56777 AT END OF LIST

In [24]:
Raima.append(56777)            # add 56777 at end of list by using APPEND METHOD
print(Raima)

[100, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7164, 56777]

## FIND MAX NUMBER FROM LIST

In [25]:
print(max(Raima))      # MAX FUNCTION to get maximun number from list(Raima)

56777

## FIND MIN NUMBER FROM LIST

In [26]:
print(min(Raima))            # MIN FUNCTION to get minimun number from list(Raima)

-4500

## PRINT EVEN NUMBERS FROM LIST

In [27]:
evenNumbers=[]                        # empty list to store Even numbers
for i in Raima:                       # using for loop in which i represents each number's index in list
    if i%2 == 0:                      # condition for even numbers . remainder of i should be zero. 
        evenNumbers.append(i)         # if i is even then it will be stored at the END of list. 
print(evenNumbers)

[100, 150, -4500, 90, 54, 74, 78, 7164]

## PRINT ODD NUMBERS FROM LIST

In [28]:
oddNumbers=[]                         # empty list to store Odd numbers
for i in Raima:                       # using for loop in which i represents each number's index in list
    if i%2 != 0:                      # condition for odd numbers . remainder of i should not be zero. 
        oddNumbers.append(i)          # if i is odd then it will be stored at the END of list. 
print(oddNumbers)

[-23, 33, 25, -71, 33, 45, 33, 63, 69, 56777]

## PUT POSITIVE VALUES IN A POSITIVE NUMBERS ARRAY

In [29]:
positiveNums = []                      # empty list to store POSITIVE numbers
for i in Raima:                        # using for loop in which i represents each number's index in list
    if i>0:                            # condition for positive numbers . i should  be greater than zero.
        positiveNums.append(i)         # if i is positive then it will be stored at the END of list. 
print(positiveNums)

[100, 33, 25, 150, 90, 33, 45, 33, 54, 63, 69, 74, 78, 7164, 56777]

## PUT NEGATIVE VALUES IN A NEGATIVE NUMBERS ARRAY

In [30]:
negativeNums = []                     # empty list to store POSITIVE numbers
for i in Raima:                       # using for loop in which i represents each number's index in list
    if i<0:                           # condition for positive numbers . i should  be greater than zero.
        negativeNums.append(i)        # if i is positive then it will be stored at the END of list.
print(negativeNums)

[-23, -4500, -71]

## PRINT SORTED LIST

In [31]:
print(sorted(Raima))                 # SORTED FUNCTION is used to sort a list

[-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7164, 56777]

## PRINT LIST IN ASCENDING ORDER

In [32]:
print(sorted(Raima))                 # By default SORTED FUN gives number in Ascending order

[-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7164, 56777]

## PRINT LIST IN DESCENDING ORDER

In [33]:
print(sorted(Raima, reverse=True))     # by using sort function we can sort list. and then using reverse it will be in descending order

[56777, 7164, 150, 100, 90, 78, 74, 69, 63, 54, 45, 33, 33, 33, 25, -23, -71, -4500]

## PRINT POSITIVE VALUES

In [34]:
for i in Raima:                   # for loop to print positive values in which i is index numer of each element in list
    if i>0:                       # check whether i is greater than zero
        print(i, end=' ')         # print positive value at index i

100 33 25 150 90 33 45 33 54 63 69 74 78 7164 56777

## PRINT NEGATIVE VALUES

In [35]:
for i in Raima:                  # for loop to print negative values in which i is index numer of each element in list
    if i<0:                      # check whether i is smaller than zero
        print(i, end=' ')        # print negative value at index i

-23 -4500 -71

## PRINT MULTIPLIER OF NEGATIVE NUMBERS IN LIST

In [36]:
product=1                       # initialize product variable with one
for i in Raima:                 # for loop is used 
    if i<0:                     # condition that i(List item) should be smaller than zero
        product*=i              # update product var each time multiplying it with i
print("Multiplier:",product)    # print product of negative values

Multiplier: -7348500

## PRINT MULTIPLIER OF POSITIVE NUMBERS

In [37]:
poduct=1                          # initialize product variable with one                  
for i in Raima:                   # for loop is used 
    if i>0:                       # condition that i(List item) should be greater than zero
        product*=i                # update product var each time multiplying it with i
print("Multiplier:",product)      # print product of positive values

Multiplier: -221036782462114231275969606300000000000

## Take power with last two digit with your AG number and print new list like 6660 take power of each element of array with 60

In [38]:
i=64
Raima=[n**i for n in Raima if(n>0)]
print(Raima)

[100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, 15307072958184811420872246488959899899488864500972168001373202692974419469010486491951430830622721, 293873587705571876992184134305561419454666389193021880377187926569604314863681793212890625, 18614037287947342154674106047557028201233642050738126272335648536682128906250000000000000000000000000000000000000000000000000000000000000000, 117901845777385831715208728614125186656782115922758411090969610000000000000000000000000000000000000000000000000000000000000000, 15307072958184811420872246488959899899488864500972168001373202692974419469010486491951430830622721, 6391471866594630806511974310104108742664685010083023321615647836281548510584116229438222944736480712890625, 15307072958184811420872246488959899899488864500972168001373202692974419469010486491951430830622721, 746793670963328405582912581512662957425303737220528973376206155564558960211479000064946136232252338833778016256, 14381201289858923833733732277241427911251598557516928831287151963615866190845260542210496569296551598609485715599361, 4856705920261766616432726361041784486707420237162676787270402854051513023913932318206873478462081791833767094850481921, 427395615701346291311380631541796865739738171389602517977337585306379339789278155867212563147285092817886444839633944576, 12418083398396881457420465464204080655738676575271128371208130219846413174194388786066023968329907770706968388738016608256, 5369785518442035400739113698194677538182970587149103499393537954692451782850173705537338876563687309040488656170250921965134438842460071274463157454589348636664133238511370502763064764915073041420080601181381166001334832981727396639050556470460416, 18494229839142291274241283842884500149771793211967538906206417701534878521767177949777828206284744158905139618069110998222915846399909518713645026177706575874553960959998539447510069995174332512480659157033587899108357606009305465245878810609034500584673673012522226161218810264784943319337993422187031041]

## SORT AND PRINT LIST IN ASCENDING ORDER

In [40]:
Raima=[100, -23, 33, 25, 150, -4500, 90, -71, 33, 45, 33, 54, 63, 69, 74, 78, 7164, 56777]
ascendingList=sorted(Raima)              # sort list by using sorted fun then store it in var
print("Ascending Order:",ascendingList)  # print list in ascending order

Ascending Order: [-4500, -71, -23, 25, 33, 33, 33, 45, 54, 63, 69, 74, 78, 90, 100, 150, 7164, 56777]

 ## PRINT ARRAY IN DESCENDING ORDER

In [42]:
print(sorted(Raima, reverse=True))       # sort list then reverse it to get in descending order

[56777, 7164, 150, 100, 90, 78, 74, 69, 63, 54, 45, 33, 33, 33, 25, -23, -71, -4500]

## PRINT NUMBERS THAT ARE DIVISIBLE BY 5

In [43]:
divBy5=[]                       # initialized an empty list
for i in Raima:                 # for loop is used
    if i%5==0:                  # condition that remainder or i should be zero with 5
        divBy5.append(i)        # add i at the end of list
print(divBy5)                   # print list

[100, 25, 150, -4500, 90, 45]

## REMOVE MOST REPETITIVE VALUE FROM LIST

In [44]:
mostRepeated = max(set(Raima), key=Raima.count)  # find most repetitive value as set has only unique values 
print("Most Repeated Value:",mostRepeated)       #  print repeated item

newList=[]                   # initialize empty list
for i in Raima:              # for loop is used in which i for each item
    if i != mostRepeated:    # condition that i should not be most repeated item
        newList.append(i)    # add value at end of list which is not repeated
print(newList)               # print list

Most Repeated Value: 33
[100, -23, 25, 150, -4500, 90, -71, 45, 54, 63, 69, 74, 78, 7164, 56777]

# QUESTION NO 2:

In [45]:
List = ["apple", "orange", "bringal", "spinach", "apricot", "potato", "mango", "banana", "ladyfinger", "strawberry", 
        "litchi", "peas", "cabagge", "onion", "carrot", "guava", "grapes", "reddish", "pear", "tomato" ]

for i in List:              # for loop To print length of each element in list . i represents element in list. 
    print(i,"=",len(i))     # len is used to length of each String

apple = 5
orange = 6
bringal = 7
spinach = 7
apricot = 7
potato = 6
mango = 5
banana = 6
ladyfinger = 10
strawberry = 10
litchi = 6
peas = 4
cabagge = 7
onion = 5
carrot = 6
guava = 5
grapes = 6
reddish = 7
pear = 4
tomato = 6

## ITEMS THAT HAVE 4 CHARACTERS

In [46]:
for i in List:                           # for loop To print length of each element in list . i represents element in list.
    if len(i)==4:                        # condition that length of string(fruit/veg) should be 4.
        print( i,end="  ")               # print item i with 4 characters

peas  pear

## ITEMS THAT HAVE CHARACTERS MORE THAN 5

In [47]:
for i in List:                # use a for loop i represnets each item of list
    if len(i)>5:              # condition that length of i(item) should be greater than five
        print(i,end="   ")    # print item with more than 5 char

orange   bringal   spinach   apricot   potato   banana   ladyfinger   strawberry   litchi   cabagge   carrot   grapes   reddish   tomato

## ITEMS THAT CONTAIN CHARACTER 'A'

In [48]:
for i in List:                   # use a for loop i represnets each item of list
    if 'a' in i:                 # condition that a should be in i(list item)
        print(i,end="  ")        # print element which has char a

apple  orange  bringal  spinach  apricot  potato  mango  banana  ladyfinger  strawberry  peas  cabagge  carrot  guava  grapes  pear  tomato

## TO PRINT SORTED LIST

In [50]:
print(sorted(List))        # we can sort list by using sorted function

['apple', 'apricot', 'banana', 'bringal', 'cabagge', 'carrot', 'grapes', 'guava', 'ladyfinger', 'litchi', 'mango', 'onion', 'orange', 'pear', 'peas', 'potato', 'reddish', 'spinach', 'strawberry', 'tomato']

## ITEMS WITH EVEN NUMBER OF CHARACTERS

In [51]:
for i in List:                    # use a for loop i represnets each item of list
    if len(i)%2==0:               # condition that i should be even (remainder zero)
        print(i, end="   ")       # if i would be even it will print

orange   potato   banana   ladyfinger   strawberry   litchi   peas   carrot   grapes   pear   tomato

# QUESTION NO 3:

In [52]:
agNumber = '2023-ag-7164'    # initialized my ag number
print(list(agNumber))         # by using list keyword we can print our agNumber as each item of list

['2', '0', '2', '3', '-', 'a', 'g', '-', '7', '1', '6', '4']

## REPLACE 2023 TO 2030

In [53]:
print(agNumber.replace("2023", "2030", 1))  # replace method is used

2030-ag-7164

## REPLACE 7164 TO ****

In [54]:
print(agNumber.replace("7164", "****", 1))       # replace method is used

2023-ag-****

## REPLACE AG NUMBER WITH FOLLOWING STRING

In [55]:
print(agNumber.replace("2023-ag-7164", "@2030*-*ag*-7164@", 1))    #replace method is used

@2030*-*ag*-7164@